<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/8da540b464.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/normalize.css">
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <title>Register MundoRock</title>
    </head>
<body class="body-shopping-list">

    <header class="header-shopping-list">
        <nav>
            <div class="header-left">
            
            <a href="/" class="logo-header"><img src="images/images/mundoRock.png" alt="logo-mundorock"></a>
            <button class="locales-button">Locales</button>
            <button class="productos-button">Productos</button>
        
        </div>

        <div class="header-right">
            
            <i class="fas fa-shopping-cart"></i>
            <button class="registrate-button">Registrate</button>

            </div>
        </nav>
    </header>

    <main class="main-shopping-list">

        <h2>Tu carrito (2)</h2>

        <div class="shopping-article">

            <img src="/images/images/mic-1.png" alt="microfono-1">

            <div class="nombre-producto">
                <h3 style="color: #6C6C6C;">NOMBRE DEL PRODUCTO</h3>

                <p style="color: #429355;">ENVÍO GRATIS</p>

                <p style="color: #2E90FD;">Eliminar del carrito</p>

            </div>

            <div class="cantidad-shopping">
                    <h4>Cantidad</h4>
                    <div class="number">
                        - 1 +
                    </div>
                    <div class="stock">max stock disponible (3)</div>

                    
                    
            
            
            </div>

            <div class="precio-shopping">$$$$</div>

            

        </div>

        <div class="shopping-article">

            <img src="/images/images/mic-2.jfif" alt="microfono-2">

            <div class="nombre-producto">
                <h3 style="color: #6C6C6C;">NOMBRE DEL PRODUCTO</h3>

                <p style="color: #429355;">ENVÍO GRATIS</p>

                <p style="color: #2E90FD;">Eliminar del carrito</p>

            </div>

            <div class="cantidad-shopping">
                    <h4>Cantidad</h4>
                    <div class="number">
                        - 1 +
                    </div>
                    <div class="stock">max stock disponible (10)</div>

                    
                    
            
            
            </div>

            <div class="precio-shopping">$$$$</div>

            

        </div>

        <div class="total-envio">

            <h2>Total con envío</h2>
            <div>$$$$</div>

        </div>


        <div class="buttons-shopping">

            <a href="/">Elegir más productos</a>
            <input type="button" value="Continuar compra">


        </div>

        



    </main>
    
</body>
</html>