* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Bree Serif', serif;
}

/* inicia codigo header */
nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    border-bottom: white solid 5px;
    width: 100%;
}

nav img {
    width: 150px;
    


}

nav button {
    background-color: red;
    color: white;
    border-radius: 25px;
    border: solid black 1px;
    width: 150px;
    margin-left: 5px;
    width: 100%;
}

button.registrate-button{
    max-width: 100%;
    width: 150px;
}



.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px
}


.header-right {
    display: flex;
    align-items: center;
    width: 250px
}

.fa-shopping-cart {
    color: white;
}

.login-button {
    max-width: 140px;

}
.login-button a{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
}

.registrate-button a{
    text-decoration: none;
    color: white;
}
/* inicia codigo login */
.main-login{
    height: 550px;
    display: flex;
    justify-content: space-between;
    position: relative;
}  

.main-login img{
    width: 40%;
    height: 60%;
    margin-top: 50px;


}

.main-login form{
    position: absolute;
    width: 350px;
    height: 350px;
    left: 35%;
    top: 30px;
    background-color: black;
    border: white solid;
    border-radius: 5%;
    padding: 50px 10px ;
    
    
}


.usuario{
    margin-left: 50px;
    margin-top: 25px;
}

.inputs {
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 10px;
    border: white solid;
    width: 250px;
}

.contraseña{
    margin-left: 50px;
    margin-top: 25px;
}


.forgot-pass {
    font-size: 10px;
    left: 200px;
    top: 170px;
    position: absolute;
    display: inline-block;

    
}

.form-bottom{
    display: block;
    margin: auto;
    margin-top: 30px;
    border-radius: 50px;
    width: 150px;
    background-color: #00A6FF;
    color: white;
    font-weight: bold black solid;
    height: 35px;
    
}

.texto {
    margin: 5px 125px;
    font-size: 10px;
}

.div-p{
    margin: 20px 0px;
}



/* inicia footer */

footer {
    margin: 0px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;
    
}

.left-footer {


    top: 50px;
    color: #47525E;

}

.center-footer {

    margin-right: 50px;
    color: #47525E;

}

.center-footer img {
    width: 50%;
    margin-left: 29%;

}

.right-footer {
    color: #47525E;

}

div.iconos-footer {

    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    color: white;
    

}
div.iconos-footer a{
    text-decoration: none;
    color: white;
}




/* inicia codigo register */

main.register{
    height: 300px;
}

div.register-box{
    margin: auto;
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 40px;
    border: white solid;
    border-radius: 5px;
    max-width: 800px;
    width: 100%;
    height: 400px;
    
}

div.register-box img{
    margin-left: 50px;
    max-width: 300px;
    width: 100%;
    height: 346px;
    
}

.register-box form{
    width: 400px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}
.register-box form label{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 190px;
    color: gray;

}

.register-box form input{
    max-width: 190px;
    height: 20px;
}



/* inicia codigo shopping-list */

.body-shopping-list {

    background-color: #6C6C6C;
}

.header-shopping-list {
    background-color: black;
}

.main-shopping-list {
    background-color: white;
    color: black;
    margin: 20px 200px;
    max-height: 800px;
}

.main-shopping-list h2 {

    margin: auto;
    padding: 40px 40px;
    font-weight: lighter;

}

.shopping-article {
    display: flex;
    border-top: solid 2px rgba(0, 0, 0, 40%);
    border-bottom: solid 2px rgba(0, 0, 0, 40%);

    width: 90%;
    margin: auto;

}



.shopping-article img {
    display: inline-block;
    max-width: 15%;
    margin: 20px 30px;
    border: #6C6C6C solid 1px;

}

.cantidad-shopping h4 {

    margin: 20px 35px;
}

.cantidad-shopping div.number {
    margin: 20px 50px;
    border: solid 1px #47525E;
    width: 30px;
}

.cantidad-shopping div.stock {
    color: #47525E;
    opacity: 60%;
}

.precio-shopping {
    margin: auto;
}

.total-envio {

    display: flex;
    align-items: center;
    justify-content: flex-end;


}

.total-envio div {
    margin-right: 140px;
}

.total-envio h2 {
    margin-right: 70px;


}

.buttons-shopping {
    display: flex;
    justify-content: right;
    position: relative;
    left: 60%;

}

.buttons-shopping a {

    margin: 20px 20px;
    position: relative;
    right: 110px;
    color: #2E90FD;
}

.buttons-shopping input {

    position: relative;
    right: 60px;
    height: 50px;
    background-color: #2E90FD;
    color: white;

}

/* inicia codigo index */

.main-index{
    background-image: url("/images/images/home-blurred-2.jpg");
    background-repeat: no-repeat;
    height: 650px;
    background-size: 100% 100%;
}

.main-index h3{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 40px;
    top: 30%;
    text-align: 50%;
    color: gray;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.main-index button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    top: 35%;
    padding: 15px 30px;
    background-color: transparent;
    border-color: black;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: gray;
}

.main-index p {
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    position: relative;
    top: 35%;
    align-items: center;
    justify-content: center;
    color: gray;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 25px;
    
}


.main-index-bottom{
    height: 1000px;
    border-top: solid white 5px;
    margin-top: 1px;
    border-bottom: solid white 5px;
    display: flex;
    position: relative;
    flex-wrap: wrap;

}

.main-index-bottom div{
    display: flex;
    flex: wrap;
    justify-content: space-around;

}
.main-index-bottom div img{
    max-width: 100%;
    width: 650px;
}

.main-index-bottom div {
    width: 50%;
    border: 3px #000 solid;
    filter: blur(7px);
    z-index: 0;
    
}

.main-index-bottom h3{

    z-index: 1;
    position: absolute;
    font-size: 3vw;
    text-shadow: 1px 0 0 gray, 0 -1px 0 gray, 0 1px 0 gray, -1px 0 0 gray;
    visibility: hidden;

    
}

.main-index-bottom div:hover h3{
    visibility: visible;

}


.main-index-bottom div:hover{
    transition-duration: 700ms;
    filter: blur(0px);
    

}







.main-index-bottom h3.guitarras-index{
    left: 30%;
    margin-top: 60px;
    

}

.main-index-bottom h3.percusion-index{
    margin-top: 60px;
    left: 60%;
}

.main-index-bottom h3.viento-index{
    left: 15%;
    top: 50%;

}

.main-index-bottom h3.microfonos-index{
    top: 50%;
    left: 60%;
}

/* inicia codigo detalle-producto top */

main.top-main-detalle{
    height: 300px;
    display: flex;
    justify-content: center;
}

main.top-main-detalle div{
    display: inline-block;
}

section.miniaturas{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
    margin-right: 10px;
}

img.miniatura{
    position: relative;
    
}

img.miniatura2{
    position: relative;
    top: 60px;
    max-width: 100px;
    
    font-size: 20px;
    text-align: center;
}
.top-main-detalle img{
    margin-top: 5px;
    width: 50px;
}

img.producto{
    max-width: 300px;
    width: 100%;
    margin-top: 40px;
    height: 200px;
}



div.detalle-de-producto{
    
    position: relative;
    left: 5%;
    width: 550px;
    display: inline-block;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    margin-top: 30px;
    

}


/* detalle-producto bottom */


main.bottom-main-detalle{
    margin-top: 100px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}
main.bottom-main-detalle h3{

    margin-left: 10px;
    color: #47525E;
    
}

div.misma-categoria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.misma-categoria div img{
    width: 130px;
    background-color: white;
    height: 120px;
    padding: 10px
}

.misma-categoria div{
    text-align: center;
}

div p.disponible{
    background-color: #078100;
    border-radius: 10px;
}

div p.sin-stock{
    background-color: #810002;
    border-radius: 10px;
}

/* forms */
    .form-label {
  display: inline-block;
  font-size: 1.6em;
  margin: 10px 0;
}

.form-input {
  display: block;
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  font-size: 1.5em;
  border-radius: 8px;
  border: none;
  border: solid 1px var(--gray);
  padding: 0 15px;
}

textarea.form-input {
  min-height: 140px;
  resize: vertical;
  padding: 15px;
}

.div-form{
    width: 500px;
    border: white, solid;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

/* list users */

img.profile-img-list{
    width: 200px;
}


/* inicia la @media index */

@media (max-width: 480px ) {
    
    /* inicia header */
    nav button{
        display: none;
    }


    nav img{
        margin-left: 50%;
    }
    /* termina header */
    /* inicia footer */
    footer{
        flex-wrap: wrap;
    }
    footer div{
        width: 100%;
        text-align: center;
    }

    div.center-footer {
        margin-right: 0px;
    }

    .center-footer img{
        margin-left: 11px; /* solucion temporal */
    }
    /* termina footer */

    .main-index-bottom{
        display: block;
    }
    
}








