<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/8da540b464.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../../css/normalize.css">
        <link rel="stylesheet" href="../../css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <title>Crear producto</title>
    </head>
<body>
    
    <%- include('partials/header.ejs') %>

    <h1>Está seguro de que quiere eliminar <%= productToEdit.product_name %>?</h1>
    <form action="/productos/delete-producto/<%= productToEdit.id %>?_method=DELETE " method="POST">
        <br>
        <p> <button class="boton-borrar" type="submit"> Borrar</button>
        <a href="/productos"> Volver</a></p>


    </form>







    <%- include('partials/footer.ejs') %>

</body>
</html>