<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<body>
    
 

    <main class="top-main-detalle">

        <section class="miniaturas">
            <img src="/images/images/mic-detalle-2.jpg" alt="" class="miniatura">
            <img src="/images/images/mic-detalle-3.jfif" alt="" class="miniatura2">
        </section>

        
            <img src="/images/images/mic-detalle.jfif" alt="" class="producto">
        
        <div class="detalle-de-producto">
            <h3>Nombre del Producto</h3>

            <h3>Categorias a las que pertenece</h3>

            <h3>Detalle del producto:</h3>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, cupiditate odit rerum debitis provident sunt soluta animi ea iusto eligendi dolore, maxime explicabo veniam vero incidunt libero adipisci, autem harum!</p>

        </div>


    </main>

    <main class="bottom-main-detalle">
        
        <h3>Productos de la misma categoría</h3>

        <div class="misma-categoria">
            <div>
                <img src="/images/images/mic-categoria1.jpg" alt="">
                <h4>Microfono #1</h4>
                <p class="disponible">Disponible</p>

            
            </div>
            <div>
                <img src="/images/images/mic-categoria2.jfif" alt="">
                <h4>Microfono #2</h4>
                <p class="disponible">Disponible</p>

            </div>
            <div>
                <img src="/images/images/mic-categoria3.jfif" alt="">
                <h4>Microfono #3</h4>
                <p class="sin-stock">Sin stock</p>
            </div>
            <div>
                <img src="/images/images/mic-categoria4.jpg" alt="">
                <h4>Microfono #4</h4>
                <p class="disponible">Disponible</p>

            </div>
        </div>




    </main>

     <%- include('partials/footer.ejs') %>

</body>
