<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8da540b464.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <title>TiendadeMusica home</title>
</head>
<body>
    <%- include('partials/header.ejs') %>

        <main class="main-index">

            <h3>¿Quiénes somos?</h3>
            
            <button onclick="myFunction()">Ver más</button>

                <p id="demo" ></p>

            <script>
                function myFunction() {
                document.getElementById("demo").innerHTML = "Somos MundoRock, tu lugar para reencontrarte con la musica que tanto te gusta. Estamos ubicados por caballito, palermo y balvanera, acercate cualquiera de nuestros locales";
                }
            </script>
            
            




        </main>

        <main class="main-index-bottom">
            
            <div class="guitar-index">

            <img src="/images/images/guitar-home.jpg" alt="">
            <h3 class="guitarras-index">Guitarras</h3>
        </div>

        <div class="percussion-index">
            <img src="/images/images/percussion.jpg" alt="">
            <h3 class="percusion-index">Percusión</h3>
        </div>
            
        <div class="wind-index">
            <img src="/images/images/wind-instrument-home.jpg" alt="">
            <h3 class="viento-index">Instrumentos de viento</h3>
        </div>
            
        <div class="mics-index">
            <img src="/images/images/mic-home.jpg" alt="">
            <h3 class="microfonos-index">Micrófonos</h3>
        </div>

        </main>

        <%- include('partials/footer.ejs') %>

</body>
</html>