<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<body>
    

        <main class="main-index">

            <h3>¿Quiénes somos?</h3>
            
            <button class="ver-mas" onclick="myFunction()">Ver más</button>

                <p id="demo" ></p>

            <script>
                function myFunction() {
                document.getElementById("demo").innerHTML = "Somos MundoRock, tu lugar para reencontrarte con la musica que tanto te gusta. Estamos ubicados por caballito, palermo y balvanera, acercate cualquiera de nuestros locales";

                document.querySelector("button.ver-mas").style.display = "none"
                }
            </script>
            
            




        </main>

        <main class="main-index-bottom">
            
            <div class="guitar-index">

            <a href="/productos/category?category=Guitarras"><img src="/images/images/guitar-home.jpg" alt=""></a>
            <h3 class="guitarras-index">Guitarras</h3>
        </div>

        <div class="percussion-index">
            <a href="/productos/category?category=percusion">
                <img src="/images/images/percussion.jpg" alt="">
            </a>
            <h3 class="percusion-index">Percusión</h3>
        </div>
            
        <div class="wind-index">
            <a href="/productos/category?category=instrumentos%20de%20viento">
                <img src="/images/images/wind-instrument-home.jpg" alt="">
            </a>
            <h3 class="viento-index">Instrumentos de viento</h3>
        </div>
            
        <div class="mics-index">
            <a href="/productos/category?category=microfonos">
                <img src="/images/images/mic-home.jpg" alt="">
            </a>
            <h3 class="microfonos-index">Micrófonos</h3>
        </div>

        </main>

        <%- include('partials/footer.ejs') %>
</body>
