<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8da540b464.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <title>Login MundoRock</title>
</head>
<body>

    <header>
        <nav>
            <div class="header-left">
            
            <a href="/" class="logo-header"><img src="images/images/mundoRock.png" alt="logo-mundorock"></a>
            <button class="locales-button">Locales</button>
            <button class="productos-button">Productos</button>
        
        </div>

        <div class="header-right">
            
            <i class="fas fa-shopping-cart"></i>
            <button class="registrate-button"><a href="/register">Registrate</a></button>
            

            </div>
        </nav>
    </header>
    <main class="main-login">
        
        <img src="/images/images-de-wireframe/banda-blanco-y-negro.jpg" alt="">
        <img src="/images/images-de-wireframe/banda-blanco-y-negro.jpg" alt="">
        
        
        <form action="/" method="POST">

            <label class="usuario">Usuario o correo electrónico</label>
            <input type="email" class="inputs" placeholder="ejemplo@email">
        
            <label class="contraseña">Contraseña</label>
            <input type="password" class="inputs">
        
            <label class="forgot-pass"><a href="#" style="color: #00A6FF;">¿Olvidaste tu contraseña?</a></label>
            <button type="submit" class="form-bottom">Ingresar</button>


            <p class="texto">No tienes cuenta?</p>
            <p class="texto">Registrate <a href="#" style="color: #00A6FF;">aquí</a></p>
            
            
        </form>
        
    </div>

    </main>

    <%- include('partials/footer.ejs') %>

</body>
</html>