<%- include('partials/head.ejs') %>
<body>

    <header>
        <nav>
            <div class="header-left">
            
            <a href="/" class="logo-header"><img src="images/images/mundoRock.png" alt="logo-mundorock"></a>
            <button class="locales-button">Locales</button>
            <button class="productos-button">Productos</button>
        
        </div>

        <div class="header-right">
            
            <i class="fas fa-shopping-cart"></i>
            <button class="login-button"><a href="/login">Login</a></button>

            </div>
        </nav>
    </header>

    <main class="register">
        <div class="register-box">
            <div class="div-form-register">
                <form action="/" method="POST">
                
                
                    <label>Nombre</label>
                    <input type="text" name="nombre">
                    
                
                
                    <label class="apellido-register">Apellido</label> 
                    <input type="text" name="apellido">
                    
                    <label class="domicilio-register">Domicilio</label> 
                    <input type="text" name="domicilio">
                
                    
                    <label class="usuario-register">Nombre de usuario</label> 
                    <input type="text" name="usuario">

                    <label class="email-register">Correo electrónico</label> 
                    <input type="email" name="email">
                    
                
                
                    <label class="contraseña-register">Contraseña</label> <input type="password">

                    <br>
                    
                
                    <button type="submit">Registrarse</button>
                    
                    
                
                
                    
                    
                
                    

            
                </form>
            </div>
            <img src="/images/images-de-wireframe/Angus-young-sign-up.jpg" alt="">
        </div>


    </main>

    <%- include('partials/footer.ejs') %>
    
</body>
</html>