<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<body>

    

    <main class="register">
        <div class="register-box">
            <div class="div-form-register">
                <form action="/users/register" method="POST" enctype="multipart/form-data">
                
                
                    <label>Nombre</label>
                    <input type="text" name="first_name">
                    
                
                
                    <label class="apellido-register">Apellido</label> 
                    <input type="text" name="last_name">
                    
                    <label class="domicilio-register">Domicilio</label> 
                    <input type="text" name="domicilio">
                
                    
                    <label class="usuario-register">Nombre de usuario</label> 
                    <input type="text" name="usuario">

                    <label class="email-register">Correo electrónico</label> 
                    <input type="email" name="email">
                    
                
                
                    <label class="contraseña-register">Contraseña</label> <input type="password" name="password">

                    <br>
                    
                    <label for="">Imagen de perfil:</label>
                    <input type="file" name="image">

                    <br>
                    <button type="submit">Registrarse</button>
                    
                    
                
                
                    
                    
                
                    

            
                </form>
            </div>
            <img src="/images/images-de-wireframe/Angus-young-sign-up.jpg" alt="">
        </div>


    </main>

    <%- include('partials/footer.ejs') %>
    
</body>
</html>