<%- include('partials/head.ejs') %>
<body class="body-shopping-list">

    <%- include('partials/header.ejs') %>

    <main class="main-shopping-list">

        <h2>Tu carrito (2)</h2>

        <div class="shopping-article">

            <img src="/images/images/mic-1.png" alt="microfono-1">

            <div class="nombre-producto">
                <h3 style="color: #6C6C6C;">NOMBRE DEL PRODUCTO</h3>

                <p style="color: #429355;">ENVÍO GRATIS</p>

                <p style="color: #2E90FD;">Eliminar del carrito</p>

            </div>

            <div class="cantidad-shopping">
                    <h4>Cantidad</h4>
                    <div class="number">
                        - 1 +
                    </div>
                    <div class="stock">max stock disponible (3)</div>

                    
                    
            
            
            </div>

            <div class="precio-shopping">$$$$</div>

            

        </div>

        <div class="shopping-article">

            <img src="/images/images/mic-2.jfif" alt="microfono-2">

            <div class="nombre-producto">
                <h3 style="color: #6C6C6C;">NOMBRE DEL PRODUCTO</h3>

                <p style="color: #429355;">ENVÍO GRATIS</p>

                <p style="color: #2E90FD;">Eliminar del carrito</p>

            </div>

            <div class="cantidad-shopping">
                    <h4>Cantidad</h4>
                    <div class="number">
                        - 1 +
                    </div>
                    <div class="stock">max stock disponible (10)</div>

                    
                    
            
            
            </div>

            <div class="precio-shopping">$$$$</div>

            

        </div>

        <div class="total-envio">

            <h2>Total con envío</h2>
            <div>$$$$</div>

        </div>


        <div class="buttons-shopping">

            <a href="/">Elegir más productos</a>
            <input type="button" value="Continuar compra">


        </div>

        



    </main>
    
</body>
</html>