<header>
    <nav>
        <div class="header-left">
        
        <a href="/" class="logo-header"><img src="../../images/images/mundoRock.png" alt="logo-mundorock"></a>
        <button class="locales-button">Locales</button>
        <button class="productos-button">Productos</button>
    
    </div>

    <div class="header-right">
        
        <i class="fas fa-shopping-cart"></i>
        <button class="registrate-button"><a href="/users/register">Registrate</a></button>
        <a href="/users/login"><button class="login-button">Login</button></a>

        </div>
    </nav>
</header>